.mainpanel {
    &::after{
        content: "";
        top: 46px;
        width: 85%;
        bottom: 0;
        position: absolute;
        background-color: #838b96;
        transition: width 100ms ease-in;
    }

    &:hover::after {
        width: 100%;
    }
}

// .chrometab {
//     &::after {
//         content: "";
//         top: 0;
//         left: 100%;
//         right: -10px;
//         bottom: 0;
//         position: absolute;
//         background: pink;
//         opacity: 50%;
//     }
// }

// .vscodeFolder,
// .vscodeSearch {
//     &::after{
//         height: 60%;
//         left: 45px;
//         width: 100px;
//         position: absolute;
//         border-radius: 6px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: smaller;
//         background-color: #1e1e1e;
//         transform: scale(0);
//     }

//     &:hover::after {
//         transform: scale(1);
//     }
// }

// .vscodeFolder {
//     &::after {
//         content: "Explorer";
//     }
// }

// .vscodeSearch {
//     &::after {
//         content: "GitHub";
//     }
// }

